@model List<IEnumerable<org.buraktamturk.web.Models.revision>>
@{
	ViewBag.title = "Burak Tamturk's offical blog";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Hello World</h1>
<p>Hello, my name is Burak Tamtürk, I study English Translation and Interpreting in Turkey, I am interested in reserve engineering, system administration, clustering and programming but specially at reserve engineering, security and journalism. </p>
<p>I love developing open-source stuff, you can find my open-source works in my <a href="https://github.com/buraktamturk" target="_blank">GitHub</a> page.</p>
<h2>Recently Posted</h2>
<ul>
	@foreach(var post in Model) {
		<li>@post.First().created_at - <a href="/@(post.Last().path).html">@post.Last().title</a></li>
	}
</ul>
